{% extends "layout.html" %}
{% block content %}

<style>
    {% include "style.css" %}
</style>

<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Lots2Do List Renewed</h1>
    <p class="w3-xlarge">The ToDo List that only piles up and never gets shorter... very much like our homework</p>
    <p class="w3-text-black">This site was created by Jemmel Salvador and Oluwatosin Jimoh using Python and its Django Framework, in partial fulfillment of the requirements of the course CCGC-5504.</p>
    <p class="w3-text-black">The design elements of the page were provided by W3Schools through their free CSS templates.</p>
</header>

<!-- Content -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-green w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
            <form method="POST">
                {% csrf_token %}
                <div class="flex-div">
                    <div class="left-column-div">
                        <h4><label for="id_title">New Task:</label></h4>
                    </div>
                    <div class="flex-div"><div><h4>{{form.title}}</h4></div><div style="margin-left:5px;"><h4><button type="submit" class="fa fa-plus w3-text-green w3-hover-green w3-button w3-padding-small"></button></h4></div></div>
                </div>
            </form>
            <h1 class="w3-padding-small">{{page_title}}</h1>
            <ul class="w3-ul w3-card-4">
            {% for task in tasks %}
                <li>{{task.title}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

  {% endblock %}