
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-green">Home</a>
        <a href="/admin" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-green">Admin<i class="fa fa-external-link"></i></a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="/" target="_blank" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="/admin" target="_blank" class="w3-bar-item w3-button w3-padding-large">Admin</a>
    </div>
</div>